.principles {
  padding-top: 90px;
  padding-bottom: 90px;
}
.principles__list {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  li {
    width: 25%;
  }
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    margin-bottom: 10px;
    margin-top: 30px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }
  p {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: #757575;
    margin: 0;
  }
}
.principles__background {
  &:not(:last-child) {
    margin-right: 30px;
  }
  &::before {
    display: block;
    content: "";
    border-radius: 4px;
    height: 120px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #f5f4fa;
  }
}
.principles-antenna {
  &::before {
    background-image: url(../SVG/antenna.svg);
    background-size: 70px 70px;
  }
}
.principles-clock {
  &::before {
    background-image: url(../SVG/clock.svg);
    background-size: 70px 70px;
  }
}
.principles-diagram {
  &::before {
    background-image: url(../SVG/diagram.svg);
    background-size: 70px 70px;
  }
}
.principles-astronaut {
  &::before {
    background-image: url(../SVG/astronaut.svg);
    background-size: 70px 70px;
  }
}
